<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|xx-large"},"blockGap":"var:preset|spacing|x-large"}},"layout":{"type":"default"},"hideFromFeed":true} -->
<main class="wp-block-group alignwide" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--xx-large);padding-bottom:var(--wp--preset--spacing--xx-large)"><!-- wp:group {"align":"full","layout":{"type":"constrained"},"hideFromFeed":true} -->
<div class="wp-block-group alignfull"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"},"hideFromFeed":true} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|main-accent"}}},"typography":{"letterSpacing":"2px"}},"textColor":"main-accent","fontFamily":"silkscreen"} -->
<p class="has-main-accent-color has-text-color has-link-color has-silkscreen-font-family" style="letter-spacing:2px"><a href="https://www.toptal.com/designers/htmlarrows/arrows/left-arrow/">←</a><a href="https://webmasters.fm.test/episodes/" data-type="page" data-id="172">All Episodes</a></p>
<!-- /wp:paragraph -->

<!-- wp:post-title {"level":1,"fontFamily":"secondary"} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"},"hideFromFeed":true} -->
<div class="wp-block-group"><!-- wp:wm-functionality/term-image /-->

<!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|main-accent"}}}},"textColor":"main-accent"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small","left":"var:preset|spacing|small","right":"var:preset|spacing|small"}},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"backgroundColor":"primary","textColor":"base","layout":{"type":"constrained"},"hideFromFeed":true} -->
<div class="wp-block-group has-base-color has-primary-background-color has-text-color has-background has-link-color" style="padding-top:var(--wp--preset--spacing--small);padding-right:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small);padding-left:var(--wp--preset--spacing--small)"><!-- wp:seriously-simple-podcasting/castos-html-player /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:block {"ref":182} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->